<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>
		Project Management System - TechSpark
	</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'
	/>
	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
	/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	<!-- CSS Files -->
	<link href="assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
</head>

<body>
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<div class="card-header card-header-primary">
							<h4 class="card-title">Add Inmate Information</h4>
							<p class="card-category">Carefully Fill In Details</p>
						</div>
						<div class="card-body">
							<form action="/saveinmates" method="POST">
								<div class="row">
									<!-- <div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">ID</label>
											<input type="text" class="form-control">
										</div>
									</div> -->
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">ID No</label>
											<input type="number" name="id_num" class="form-control">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">Charge No</label>
											<input type="number" name="charge_num" class="form-control">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">First Name</label>
											<input type="text" name="firstname" class="form-control">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">Last Name</label>
											<input type="text" name="lastname" class="form-control">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<div class="form-check">Gender</div>
											<div class="form-check form-check-radio form-check-inline">
												<label class="form-check-label">
													<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Male
													<span class="circle">
														<span class="check"></span>
													</span>
												</label>
											</div>
											<div class="form-check form-check-radio form-check-inline">
												<label class="form-check-label">
													<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Female
													<span class="circle">
														<span class="check"></span>
													</span>
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-5">
										<div class="form-group">
											<label class="bmd-label-floating">Date of birth</label>
											<input type="date" name="dob" class="form-control">
										</div>
									</div>
									<div class="col-md-7">
									<div class="form-group">
									<label for="exampleFormControlSelect1">Court Of Appeal</label>
									<select class="form-control" name="court" id="exampleFormControlSelect1">
									  <option value="Federal High Court">Federal High Court</option>
									  <option value="High Court Oguta">High Court, Oguta</option>
									  <option value="High Curt Owerri">High Court, Owerri</option>
									  <option value="High Curt Etiti">High Court, Etiti</option>
									  <option value="Magistrates Court Nwangele">Magistrates Court, Nwangele</option>
									  <option value="Magistrates Court Okigwe">Magistrates Court, Okigwe</option>
									  <option value="Magistrates Court Umuagwo">Magistrates Court, Umuagwo</option>
									  <option value="Magistrates Court Orlu">Magistrates Court, Orlu</option>
									  <option value="Magistrates Court Mgbidi">Magistrates Court, Mgbidi</option>
									  <option value="Magistrates Court Omuoma">Magistrates Court, Omuoma</option>
									  <option value="Magistrates Court Egbema">Magistrates Court, Egbema</option>
									  <option value="Magistrates Court Ezinhitte">Magistrates Court, Ezinhitte</option>
									  <option value="Magistrates Court Akanji-Aba">Magistrates Court, Akanji-Aba</option>
									  <option value="Magistrates Court Iho">Magistrates Court, Iho</option>
									  <option value="Magistrates Court Isu">Magistrates Court, Isu</option>
									  <option value="Magistrates Court Amazano">Magistrates Court, Amazano</option>
									  <option value="Magistrates Court Nkwerre">Magistrates Court, Nkwerre</option>
									  <option value="Magistrates Court Ahiazu-Mbaise">Magistrates Court, Ahiazu-Mbaise</option>
									  <option value="Magistrates Court Nwaorieubi">Magistrates Court, Nwaorieubi</option>
									  <option value="Magistrates Court Ngor-Okpala">Magistrates Court, Ngor-Okpala</option>
									  <option value="Magistrates Court Mbaise">Magistrates Court, Mbaise</option>
									  <option value="Magistrates Court Oguta">Magistrates Court, Oguta</option>
									  <option value="Magistrates Court Aboh-Mbaise">Magistrates Court, Aboh-Mbaise</option>
									</select>
								  </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="bmd-label-floating">Last Adjourned Date</label>
											<input type="date" name="lad" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="bmd-label-floating">Next Adjourned date</label>
											<input type="date" name="nad" class="form-control">
										</div>
									</div>
								</div>
								<div class="row">
								<div class="form-group">
								<label for="exampleFormControlSelect1">List Of offences</label>
								<select class="form-control" name="offence" id="exampleFormControlSelect1">
								  <option value="Murder">Murder</option>
								  <option value="Manslaughter">Manslaughter</option>
								  <option value="Mayhem">Mayhem</option>
								  <option value="Common assault aka assault">Common assault aka assault</option>
								  <option value="Battery">Battery</option>
								  <option value="Assault with intent to rob">Assault with intent to rob</option>
								  <option value="Assault with intent to rape">Assault with intent to rape</option>
								  <option value="Kidnapping / abduction">Kidnapping / abduction</option>
								  <option value="Rape">Rape</option>
								  <option value="Buggery">Buggery</option>
								  <option value="Arson">Arson</option>
								  <option value="Larceny">Larceny</option>
								  <option value="Robbery">Robbery</option>
								  <option value="Burglary">Burglary</option>
								  <option value="Trespass">Trespass</option>
								  <option value="Extortion">Extortion</option>
								  <option value="Concealment of treasure trove">Concealment of treasure trove</option>
								  <option value="Cheating">Cheating</option>
								  <option value="Forgery">Forgery</option>
								  <option value="High treason">High treason</option>
								  <option value="Petty treason"> Petty treason</option>
								  <option value="Compounding treason">Compounding treason</option>
								  <option value="Sedition">Sedition</option>
								  <option value="Seditious libel">Seditious libel</option>
								  <option value="Contempt of the sovereign">Contempt of the sovereign</option>
								  <option value="Espionage">Espionage</option>
								  <option value="Contempt of court a.k.a. criminal contempt, contumacy">Contempt of court a.k.a. criminal contempt, contumacy</option>
								  <option value="Compounding a felony">Compounding a felony</option>
								  <option value="Fabrication of false evidence">Fabrication of false evidence</option>
								  <option value="Escape from lawful custody">Escape from lawful custody</option>
								  <option value="Breach of prison/breaking prison">Breach of prison/breaking prison</option>
								  <option value="Rescue/rescuing a prisoner in custody">Rescue/rescuing a prisoner in custody</option>
								  <option value="Harboring a fugitive or felon">Harboring a fugitive or felon</option>
								  <option value="Effecting a public mischief (disputed - held to no longer exist)">Effecting a public mischief (disputed - held to no longer exist)</option>
								  <option value="Malicious mischief">Malicious mischief</option>
								  <option value="Riot">Riot</option>
								  <option value="Mobbing">Mobbing</option>
								  <option value="Piracy">Piracy</option>
								  <option value="Rout">Rout</option>
								  <option value="Affray">Affray</option>
								  <option value="Unlawful assembly">Unlawful assembly</option>
								  <option value="Breach of the peace">Breach of the peace</option>
								  <option value="Defamatory libel">Defamatory libel</option>
								  <option value="public nuisance">Causing a public nuisance</option>
								  <option value="Obscene libel">Obscene libel</option>
								  <option value="Blasphemy">Blasphemy</option>
								  <option value="Blasphemous libel">Blasphemous libel</option>
								  <option value="Incitement">Incitement</option>
								  <option value="Challenging to fight">Challenging to fight</option>
								  <option value="Maintenance">Maintenance</option>
								  <option value="Champerty">Champerty</option>
								  <option value="Embracery">Embracery</option>
								  <option value="Eavesdropping">Eavesdropping</option>
								  <option value="Barratry, inciting litigation for profit">Barratry, inciting litigation for profit</option>
								  <option value="Being a common scold">Being a common scold</option>
								  <option value="Nightwalking (so as to cause alarm)">Nightwalking (so as to cause alarm)</option>
								  <option value="Outraging public decency">Outraging public decency</option>
								  <option value="Forcible entry">Forcible entry</option>
								  <option value="Forcible detainer">Forcible detainer</option>
								  <option value="Attempt">Attempt</option>
								  <option value="Conspiracy">Conspiracy</option>
								  <option value="Accessory">Accessory</option>
								  <option value="Offering or paying a bribe">Offering or paying a bribe</option>
								  <option value="Inebriation, public intoxication, posing a danger to others">Inebriation, public intoxication, posing a danger to others</option>
								  <option value="Running a disorderly house">Running a disorderly house</option>
								  <option value="Administration of drugs with intent to enable or assist the commission of a crime">Administration of drugs with intent to enable or assist the commission of a crime</option>
								  <option value="Housebreaking with intent to steal">Housebreaking with intent to steal</option>
								  <option value="Theft">Theft</option>
								  <option value="Use of threats with intent to extort money or property">Use of threats with intent to extort money or property</option>
								  <option value="Wilful fireraising and culpable and reckless fireraising">Wilful fireraising and culpable and reckless fireraising</option>
								  <option value="Misconduct in public office">Misconduct in public office</option>
								  <option value="Perjury of oath">Perjury of oath</option>
								  <option value="Abuse of authority">Abuse of authority</option>
								  <option value="Failure to appear: subpoena, militia call-up, jury notice">Failure to appear: subpoena, militia call-up, jury notice</option>
								  <option value="Failure to supervise">Failure to supervise</option>
								  <option value="Misappropriation of funds">Misappropriation of funds</option>
								  <option value="Acceptance of a bribe">Acceptance of a bribe</option>
								  <option value="Dereliction of duty, Refusal to execute public office">Dereliction of duty, Refusal to execute public office</option>
								  <option value="Conduct unbecoming">Conduct unbecoming</option>
								  <option value="Desertion, Away without leave">Desertion, Away without leave</option>
								  <option value="Insubordination, Failure to obey a lawful order">Insubordination, Failure to obey a lawful order</option>
								  <option value="False imprisonment">False imprisonment</option>
								  <option value="Permitting an escape">Permitting an escape</option>
								</select>
							  </div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="bmd-label-floating">Remark</label>
											<textarea name="remark" id="remark" rows="3" class="form-control"></textarea>
										</div>
									</div>
								</div>
								<button type="submit" class="btn btn-primary pull-right">Submit</button>
								<div class="clearfix"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
</body>

</html>