<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>
		Project Management System - TechSpark
	</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'
	/>
	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
	/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	<!-- CSS Files -->
	<link href="assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
</head>

<body>
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<div class="card-header card-header-primary">
							<h4 class="card-title">Add Inmate Information</h4>
							<p class="card-category">Carefully Fill In Details</p>
						</div>
						<div class="card-body">
							<form action="/saveinmates" method="POST">
								<div class="row">
									<!-- <div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">ID</label>
											<input type="text" class="form-control">
										</div>
									</div> -->
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">ID No</label>
											<input type="number" name="id_num" class="form-control">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">Charge No</label>
											<input type="number" name="charge_num" class="form-control">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">First Name</label>
											<input type="text" name="firstname" class="form-control">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">Last Name</label>
											<input type="text" name="lastname" class="form-control">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<div class="form-check">Gender</div>
											<div class="form-check form-check-radio form-check-inline">
												<label class="form-check-label">
													<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Male
													<span class="circle">
														<span class="check"></span>
													</span>
												</label>
											</div>
											<div class="form-check form-check-radio form-check-inline">
												<label class="form-check-label">
													<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Female
													<span class="circle">
														<span class="check"></span>
													</span>
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-5">
										<div class="form-group">
											<label class="bmd-label-floating">Date of birth</label>
											<input type="date" name="dob" class="form-control">
										</div>
									</div>
									<div class="col-md-7">
										<div class="form-group">
											<div class="dropdown">
												<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
												    aria-expanded="false">Court</button>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item" href="#">Action</a>
													<a class="dropdown-item" href="#">Another action</a>
													<a class="dropdown-item" href="#">Something else here</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="bmd-label-floating">Last Adjourned Date</label>
											<input type="date" name="lad" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="bmd-label-floating">Next Adjourned date</label>
											<input type="date" name="nad" class="form-control">
										</div>
									</div>


								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="bmd-label-floating">Offence</label>
											<textarea name="offence" id="offence" rows="3" class="form-control"></textarea>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="bmd-label-floating">Remark</label>
											<textarea name="remark" id="remark" rows="3" class="form-control"></textarea>
										</div>
									</div>
								</div>
								<button type="submit" class="btn btn-primary pull-right">Submit</button>
								<div class="clearfix"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>